*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.form{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100vh - 175px);
    padding: 0rem 2rem;
    position: relative;
}

.form input[type = "text"], .form input[type = "password"] {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 15px;
    width: 100%;
    border: 1px solid rgba(0, 128, 128, 0.3);
    transition: all 0.15s linear;
}

.form input[type="text"]:focus, .form input[type="password"]:focus {
    outline: 2px dashed rgba(0, 128, 128, 1);
    transform: scale(1.05);
}

.form input[type="submit"] {
    background-color: #008080;
    color: #fff;
    padding: 1rem 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    transition: all 0.15s ease-in-out;
}
  
input[type="submit"]:hover {
    box-shadow: inset 6px 6px 12px 6px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    font-weight: 800;
}
  
input[type="submit"]:focus {
    outline: none;
    box-shadow: inset 6px 6px 12px 6px rgba(0, 0, 0, 0.3);
}
  

.form-div-one{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 1rem;
}

.username{
    /* border: 1px solid; */
    width: 325px;
    height: 325px;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    bottom: 5%;
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.3);
}

.password{
    /* border: 1px solid; */
    width: 325px;
    height: 325px;
    border-radius: 50%;
    position: absolute;
    right: 15%;
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.3);
}